---
layout: default
---

{%- assign cats = site.categories -%}

<!--categories: {{ cats  }}<br/>-->

{%- assign unique_categories = "" | split: "/" -%}

{%- for cat in cats -%}
  {%- assign unique_categories = unique_categories | push: cat[0] -%}
{%- endfor -%}

{%- assign unique_categories = unique_categories | uniq -%}
{%- assign unique_categories = unique_categories | sort -%}

unique_categories {{ unique_categories | inspect}}<br/>
{%- for filterCategory in unique_categories -%}
      
    {% assign categoryPost = site.categories[filterCategory] %}
    
    {% assign postGroupedBySub = categoryPost | group_by: "subcategory" %}

    
    {% assign postGroupedBySub = postGroupedBySub | sort: "name" , "last" %}
    
    <h3>{{ filterCategory }}</h3>
    <ul>
    
    {% assign deferredPosts = nil %}
    
    {% for subcategoryPosts in postGroupedBySub %}

        {% if subcategoryPosts.name != blank %}
            {%assign subcategoryName = subcategoryPosts.name%}
            {% assign postToDefer = false %}
        {% else %}
            {% assign subcategoryName = 'other posts (uncategorized)'%}
            {% assign deferredPosts = subcategoryPosts.items %}
            {% assign postToDefer = true %}
        {%endif%}
    
        {%unless postToDefer %}
            <li>{{ subcategoryName }}
                <ul>
            {% for post in subcategoryPosts.items %}
           
                <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
            </ul>
        {% endunless %}
        </li>
    {% endfor %}

    {% if deferredPosts %}
        <li>other posts (uncategorized)
            <ul>
        {% for post in deferredPosts %}
            <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul></li>
    {% endif %} 
      </ul>
    </li>
{%endfor%}
</ul>






  
  {%- comment -%}
  {%  raw  %}  
  {%     for filterCategory in site.data.categories %}
<h3>{{ filterCategory.category }}</h3>
<ul>
{%           %}
{%          for subcategory in filterCategory.subcategories %}
{%            assign postsInCategory = "" | split: "/" %}
{%              assign posts = site.posts | where category: filterCategory %}
{%            if post.categories contains filterCategory  %}
{%            assign postsInCategory = postsInCategory | push: post  %}
{%          endif %}

</ul>
  
  {%- assign unique_categories = unique_categories | uniq -%}
  <!--unique_categories: {{ unique_categories  }}<br/>-->
  
  {%- for filterCategory in unique_categories -%}
  <h2>{{ filterCategory }}</h2>
  <ul>
  <!--tags: {{ site.tags }}<br/>-->
  {%- for tag in site.tags -%}
  {%- assign postsInCategory = "" | split: "/" -%}
  {%- for post in tag[1] -%}
  
  {%- assign cont = post.categories | contains: filterCategory -%}
  
  <!-- {{ post.categories }} eee {{ filterCategory }} == {{ cont }}<br/>-->
  {%- if post.categories contains filterCategory -%}
  {%- assign postsInCategory = postsInCategory | push: post -%}
  {%- endif -%}
  {%- endfor -%}
  
  {%- if postsInCategory.size > 0 -%}
  <li>{{ tag[0] }}
  <ul>
  <!--        <p>aaaaaaaaaa<br/></p>
  <h1>{{ filterCategory[0] }}</h1>
  <p>bbbbbbbbbbbbbb<br/></p>
  <h2>444{{ tag[0] }}444</h2>
  <p>ccccccccccccccc<br/></p>-->
  {%- for post in postsInCategory -%}
  <li>
  <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
  </li>
  {%- endfor -%}
  </ul>
  </li>
  {%- else -%}
  no posts for tag {{ tag[0] }} in category {{ filterCategory }}<br/>
  {%- endif -%}
  
  {%- endfor -%}
  </ul>
  {%- endfor -%}
  
  {% endraw %} 
  {% endcomment %}